<settings>

    <setting propertyKey="@Properties.Mode" title="@Strings.ModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Mode12Hour</listEntry>
            <listEntry value="1">@Strings.Mode24Hour</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Theme" title="@Strings.ThemeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Waves</listEntry>
            <listEntry value="1">@Strings.Sky</listEntry>
            <listEntry value="2">@Strings.Night</listEntry>
            <listEntry value="3">@Strings.Snow</listEntry>
            <listEntry value="4">@Strings.Lotus</listEntry>
            <listEntry value="5">@Strings.ChineseNewYear</listEntry>
            <listEntry value="6">@Strings.GreenTea</listEntry>
            <listEntry value="7">@Strings.Boba</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.AlignText" title="@Strings.AlignTextTitle">
        <settingConfig type="list">
            <listEntry value="2">@Strings.AlignLeft</listEntry>
            <listEntry value="1">@Strings.AlignCenter</listEntry>
            <listEntry value="0">@Strings.AlignRight</listEntry>
        </settingConfig>
    </setting>
</settings>
